.modal, .modal-thankas{
    background-color: rgba(0, 0, 0, 0.241);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    padding: 5rem 1.2rem;
    display: none;
}

.modal.active {
    display: block;

}

/* colocar um overflow hidden no body com javaScript */
.modal-pledge{
    max-width: 695px;
    width: 100%;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.241);
    background-color: white;
    margin: 5rem 0;
    overflow-y: initial;
    margin: auto;
}

.modal-pledge-about {
    display: flex;
    justify-content: space-between;
}

.modal-title{
    font-size: 1.5rem;
}

.modal-pledge-about-text{
    margin-bottom: 1.9rem;
    line-height: 2rem;
}

.modal-box{
    border:1px solid rgb(221, 221, 221);
    box-shadow: -2px 1px 2px 0px hsla(0, 0%, 45%, 0.124);
    margin-bottom: 1rem;
    border-radius: 5px;
}

.modal-box.active{
    box-shadow: -2px 1px 2px 0px hsla(176, 72%, 28%, 0.186);
    border: 2px solid var(--Moderate-cyan);
}

.modal-box_title{
    font-size: 1.1rem;
}

.sa {
    padding: 0 0 1rem 0;
}

.modal-box-text{
    color: var(--Dark-gray);
    line-height: 1.8rem;
}

.modal-box_div_row{
    display: flex;
    width: 100%;
    padding: 2rem;
}

.modal-box-text_description{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.modal-box-text_description_top{
    display: flex;
    justify-content: space-between;
}

.modal-box-text_description_nome_left{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.modal-box-text_description_nome_left span{
    color: var(--Moderate-cyan);
    font-weight: 600;
}

.modal-sub-box{
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid rgba(92, 92, 92, 0.166);
    display: none;
}

.modal-sub-box.active {
    display: flex;
}

.modal-sub-box input{
    width: 103px;
    height: 49px;
    border: 1px solid black;
    border-radius: 30px;
}

.dynamic-radio{
    cursor: pointer;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: relative;
    padding: 5px;
    transition: all .4s ease-in;
}

.dynamic-radio.active{
    background-color: var(--Moderate-cyan);
}


.dynamic-radio::before{
    left: -4px;
    position: absolute;
    top: -4px;
    content: '';
    padding: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid rgba(92, 92, 92, 0.166);
}

.modal-box input{
    width: 103px;
    height: 50px;
    border: 1px solid rgba(92, 92, 92, 0.166);
    border-radius: 25px;
    padding: 20px;
}

.modal-thankas {
    text-align: center;
}

.modal-thankas.active {
    display: flex;
}


.modal-thankas-center{
    height: 350px;
    background-color: white;
    max-width: 100%;
    width: 535px;
    padding: 3rem;
    border-radius: 5px;
    gap: 20px;
    margin: auto;
}

.modal-thankas-center .second-title{
    margin-bottom: 1rem;
}

.got-it {
    cursor: pointer;
    padding: 1rem 1.5rem;
    color: white;
    background-color: var(--Moderate-cyan);
    border-radius: 30px;
    width: 100px;
    margin-top: 24px;
}

@media (max-width:693px) {
    .modal-thankas-center{
        height: 450px;
    }
}
